<header class="classhead">
  <p class="classhead-intro">Hi I'm</p>
  <h1 class="classhead-heading">Prateek Kaushal!</h1>
</header>
<section class="introduction-section">
  <h1>Introduction</h1>
  <p>
    I am a software engineer. Did my bachelors is CS and currently persuing post
    grad diploma from centennial college.
  </p>
  <p>I love the internet, technology, and playing table tennis.</p>
</section>
<section class="location-section">
  <h1>Where I'm From</h1>
  <p>I'm originally from Chandigarh India.</p>
</section>
<section class="questions-section">
  <h1>More About Me</h1>
  <h2></h2>
  <p>
    My favorite hobby is building things on the internet like ecommerce sites
    and email marketing campaigns.
  </p>
  <h2>What's your dream job?</h2>
  <p>
    My dream job is similar to my current job except I would like to be building
    software.
  </p>
  <h2>Where do you live?</h2>
  <p>I live on a Toronto, but I'm close Scarborough.</p>
  <h2>Why do you want to be a web developer?</h2>
  <p>
    Because programming is awesome and programming for the internet is even more
    awesome.
  </p>
</section>

<footer class="content-footer">
  <p>Say hi to me on these social networks:</p>
  <ul class="social">
    <li>
      <a class="css-is-deranged" href="_INSERT_GITHUB_URL_HERE_">GitHub</a>
    </li>
    <li>
      <a class="css-is-deranged" href="_INSERT_TWITTER_URL_HERE_">Twitter</a>
    </li>
    <li>
      <a class="css-is-deranged" href="_INSERT_GOOGLE+_URL_HERE_">Google+</a>
    </li>
  </ul>
</footer>
