<!--Prateek  kaushal 300985002 SEC:008 -->

<body>
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4">welcome to Home</h1>
      <!-- Mission statement for home page-->
      <p>
        <b>MISSION:</b>Targeting a Software Engineering position in a fast paced
        and challenging environment
      </p>

      <!-- button for navigating to about page-->

      <a class="btn btn-primary" href="/about" role="button">
        Know more About me
      </a>
    </div>
  </div>
</body>
