<app-base-page></app-base-page>>

<div class="main">
  <h1>My Projects</h1>
  <hr />

  <h3>Mean portfolio</h3>
  <p>
    Currently working on my portfolio creation which involves full stack
    development using MEAN Stack.
  </p>
  <!-- Portfolio Gallery Grid -->
  <div class="row">
    <div class="column">
      <div class="content">
        <img
          src="assets/images/protfolio.png"
          alt="Android"
          style="width:100%"
        />
      </div>
      <h3>IGUANA</h3>
      <p>Project on iguana medical coding using HL7 technology</p>
    </div>
    <div class="column">
      <div class="content">
        <img src="assets/images/iguana.png" alt="AWS" style="width:100%" />
      </div>
    </div>
  </div>
</div>
