<app-base-page></app-base-page>>

<div class="main">
  <h1>My Services</h1>
  <hr />

  <h2>PORTFOLIO</h2>
  <p>Below are some of my working area's in Software engineering.</p>

  <!-- Portfolio Gallery Grid -->
  <div class="row">
    <div class="column">
      <div class="content">
        <img src="assets/images/Android.png" alt="Android" style="width:100%" />
        <h3>Android</h3>
        <p></p>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <img src="assets/images/aws.png" alt="AWS" style="width:100%" />
        <h3>AWS</h3>
        <p></p>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <img src="assets/images/java.png" alt="Java" style="width:100%" />
        <h3>Java</h3>
        <p></p>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <img src="assets/images/JS.png" alt="JS" style="width:100%" />
        <h3>JavaScript</h3>
        <p></p>
      </div>
    </div>
    <div class="column">
      <img src="assets/images/Web.png" alt="Webr" style="width:100%" />
      <h3>Web development</h3>
      <p></p>
    </div>
  </div>
</div>
